<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../assets/registrarse.css">
</head>

<body>

    <section class="FormularioRegistro">
        <h4>Formulario Registro</h4>
        <input class="control" type="text" name="nombre" id="nombres" placeholder="Ingrese su Nombre">
        <input class="control" type="text" name="" id="apllios" placeholder="Ingrese su Apellido">
        <input class="control" type="text" name="" id="correos" placeholder="Ingrese su Correo Electronico">
        <input class="control" type="text" name="" id="contrasenas" placeholder="Ingrese su Contraseña">
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <Input class="botonn" type="submit" value="Registrar"></Input>
        <p><a href="login.html">Ya tienes una cuenta?</a></p>
    </section> 

</body>

</html>