*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../img/intel3.webp");
    background-position: center;
}

.navbarLogin,.Intel{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    height: 100vh;
    width: 100%;
    
    background-size: cover;
    background-position: center;
  
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .Logo{
    color: #e9f4fb;
    font-size: 28px;
  
  }
  span{
    color: #2691d9;
  }
  
  nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
  }
  nav ul li a{
    color: #e9f4fb;
    text-decoration: none;
    font-weight: bold;
  }
  nav ul li a:hover{
    color: #104d94;
    transition: .3s;
  }
  
  .BtnNav{
    border: none;
    background: #104d94;
    padding: 12px,30px;
    border-radius: 30px;
    color: #e9f4fb;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
  }




.FormularioRegistro{
    width: 400px;
    background: #333333;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: #e9f4fb;
    box-sizing: 7px 13px 37px #000;
}

.FormularioRegistro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.control{
    width: 100%;
    background: #104d94;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f35c5;
    font-family: "calibri";
    font-size: 18px;
    color: #e9f4fb;
}

.FormularioRegistro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.FormularioRegistro a{
    color: #e9f4fb;
    text-decoration: none;
}
.FormularioRegistro a:hover{
    color: #e9f4fb;
    text-decoration: underline;
}
.FormularioRegistro .botonn{
    width: 100%;
    background: #104d94;
    border: none;
    padding: 12px;
    color: #e9f4fb;
    margin: 16px 0;
    font-size: 16px;
}

::placeholder{
    color: white;
}


